<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>时光记事本</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <script>window.__INITIALSTATE__=<%-JSON.stringify(initialState)%></script>
    <script>
        window.wxConfig = {};
        window.ENVIRONMENT = <%-ENVIRONMENT%>;
        window.wxConfig=<%-JSON.stringify(initialState.wxConfig)%>;

    </script>
</head>
<body>
<div id="app">
</div>
<!--<script src="<%- vconsole %>"></script>-->
<%- LIBJS %>
<%- SUI_MOBILE_JS %>
<!-- 微信授权代码 -->
<%- WECHAT_JS %>
<!-- 百度统计代码-->
<%- BAIDU_CODE  %>
<script src='//cdn.bootcss.com/spark-md5/2.0.2/spark-md5.min.js'></script>
<script src="/calendar/noteEdit.entry.js"></script>
<script src="/calendar/js/hammer.min.js"></script>
<%- WebViewJS %></body>
</html>