<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>出错啦!!!</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="renderer" content="webkit"/>
</head>
<body>

<div style=" padding: 30% 0">
	<img src="http://img1.timeface.cn/times/6bc2bcb7c2a2079090d29da04f389196.png" style="vertical-align: middle;width:40%;display: block;margin: 0 auto">
	<p style='font-weight: 600;margin-top:10px;text-align: center'><%-msg%></p>
</div>

<%- LIBJS %>
<%- SUI_MOBILE_JS %>
<!-- 微信授权代码 -->
<%- WECHAT_JS %>
<!-- 百度统计代码-->
<%- BAIDU_CODE  %>
<%- WebViewJS %></body>
</html>